<a href="https://colab.research.google.com/github/rahulpokala26/Bungeetech_Internship_test/blob/main/Bungeetech_Internship_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Importing Packages to work with data files**

In [135]:
import pandas as pd

# **Reading the csv file**

---
Here i have imported main.csv file into a variable "data"

In [ ]:
data = pd.read_csv("/content/main.csv")
data.head()

# **Creating an output file "filteredCountry.csv". This file contain only those records where country contains the word USA.**

In [137]:
rows_Containing_USA = data.loc[data['COUNTRY'].str.contains('USA')]

In [138]:
rows_Containing_USA.to_csv('filteredCountry.csv',index=False)

In [ ]:
filteredCountry.head()

# **Retreiving only the required data**

In [ ]:
new_data = filteredCountry[['SKU','PRICE']]
new_data.head()

# **Price data is modified from object type to float type**

In [140]:
def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', '').replace('?', ''))
    return(x)

In [ ]:
new_data['PRICE'] = new_data['PRICE'].apply(clean_currency).astype('float')

In [144]:
new_data.to_csv('modified_filtered_country.csv',index=False)

In [ ]:
first_and_second_min_prices = pd.read_csv("/content/modified_filtered_country.csv")
first_and_second_min_prices.head()

# **Grouping the SKU's along with First_minimum_price & Second_minimum_price**

In [148]:
temp_data = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').nth(1)
temp_data['FIRST_MINIMUM_PRICE'] = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').min()
temp_data['SECOND_MINIMUM_PRICE'] = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').nth(1)

In [ ]:
temp_data.head()

In [160]:
temp_data.to_csv('temp_lowest_price.csv',index_label="SKU")

# **removed un-necessary columns**

In [169]:
df = pd.read_csv("/content/temp_lowest_price.csv")

In [171]:
final_data_frame = df.drop(labels='PRICE',axis='columns')

In [ ]:
final_data_frame.head()

# **Final Output file - "lowestPrice.csv"**

In [176]:
final_data_frame.to_csv('lowestPrice.csv',index=False)